body {
  font-family: $text-font;
  color: $primary-txt;
  font-style: normal;
  background-color: $background-main;
  margin: 0;
}

.section {
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 90px;

  
}

.title {
  font-weight: 400;
  font-size: 55px;
  line-height: 1.21;
}

.subtitle {
  font-weight: 400;
  line-height: 1.21;
  color: $primary-txt;
  font-size: 32px;
  @include mq(desktop) {
    font-size: 55px;
  }
}
