<section class="section about-section" id="about">
    <div class="container">
        <h2 class="subtitle about-subtitle">About</h2>
        <div class="about__wrapper">
            <p class="about__txt"> <span class="about__txt-span">DRUZI marketing hub</span>  is the one-stop marketing agency for all marketing tasks.
            
            This means that DRUZI is the one-stop agency for all your company's marketing needs. We are your complete marketing
            department.
            
            We work in the hub format: DRUZI and the company's marketing team are a single whole, only we are outsourced.
            We work under the supervision of the CEO or CMO. We will jointly agree on the company's strategy, tactical decisions,
            and budgets to achieve your goals.</p>
            
            <p class="about__txt"> <span class="about__txt-span">What is DRUZI about?</span> About the efficiency of your business.
            On the wise use of marketing budgets.
            About the cooperation of happy people.
            
            That is why we are the one-stop agency for our customers. This format optimizes the time spent on briefs and related
            communications. In addition, customers receive updates from all areas of work from one manager at a convenient time.
            Like a true friend: write to us, and we will resolve all issues together.</p>
        </div>
    </div>
</section>