<section class="section cases__section" id="casses">
  <div class="container">
    <h2 class="subtitle cases__subtitle">Our cases</h2>
    <div class="cases__wrapp">
      <div class="cases__wrapper ">
        <div id="mainBlock" class="block">
          <button class="play js-open-modal" data-modal="1">
            <img src="./images/play.svg" class="play__img" alt="" width="81" height="81" />
          </button>
        </div>
        <h3 class="casses__tittle">Abstact 1</h3>
      </div>
      <div class="cases__wrapper ">
        <div class="block">
          <button class="play js-open-modal" data-modal="2">
            <img src="./images/play.svg" class="play__img" alt="" width="81" height="81" />
          </button>
        </div>
        <h3 class="casses__tittle">Abstact 2</h3>
      </div>
      <div class="cases__wrapper ">
        <div class="block">
          <button class="play js-open-modal" data-modal="3">
            <img src="./images/play.svg" class="play__img" alt="" width="81" height="81" />
          </button>
        </div>
        <h3 class="casses__tittle">Abstact 3</h3>
      </div>
      <div class="cases__wrapper ">
        <div class="block">
          <button class="play js-open-modal" data-modal="4">
            <img src="./images/play.svg" class="play__img" alt="" width="81" height="81" />
          </button>
        </div>
        <h3 class="casses__tittle">Abstact 4</h3>
      </div>
    </div>
  </div>
  <div class="overlay backdrop__is-hidden js-overlay-modal" id="overlay-modal"></div>
</section>

<div class="modal js-modal" data-modal="1">
  <div class="modal-info__container">
    <div class="modal__cross active js-modal-close">
      <span class="modal__line"></span>
      <span class="modal__line"></span>
      <span class="modal__line"></span>
    </div>
    <div class="modal__wrapper">
      <iframe
        class="modal__video"
        width="703"
        height="393"
        src="https://www.youtube-nocookie.com/embed/lH6qlF_iegU"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>

<div class="modal js-modal" data-modal="2">
  <div class="modal-info__container">
    <div class="modal__cross active js-modal-close">
      <span class="modal__line"></span>
      <span class="modal__line"></span>
      <span class="modal__line"></span>
    </div>
    <div class="modal__wrapper">
      <iframe
        class="modal__video"
        width="703"
        height="393"
        src="https://www.youtube-nocookie.com/embed/n9v-2xF54HM"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>

<div class="modal js-modal" data-modal="3">
  <div class="modal-info__container">
    <div class="modal__cross active js-modal-close">
      <span class="modal__line"></span>
      <span class="modal__line"></span>
      <span class="modal__line"></span>
    </div>
    <div class="modal__wrapper">
      <iframe
        class="modal__video"
        width="703"
        height="393"
        src="https://www.youtube-nocookie.com/embed/VlVV4AXCXts"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>

<div class="modal js-modal" data-modal="4">
  <div class="modal-info__container">
    <div class="modal__cross active js-modal-close">
      <span class="modal__line"></span>
      <span class="modal__line"></span>
      <span class="modal__line"></span>
    </div>
    <div class="modal__wrapper">
      <iframe
        class="modal__video"
        width="703"
        height="393"
        src="https://www.youtube-nocookie.com/embed/z1_X86D34Q0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>

