<header class="header">
    <div class="container header__container">
        <div class="header-wrapper">
            <a href="#main" class="header__logo-link">
                            <img class="header__logo" src="./images/logo.svg" alt="logo" width="55" height="62">

            </a>
        </div>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <a href="#about" class="item__link">About</a>
                    </li>
                <li class="header__nav-item">
                    <a href="#services" class="item__link">Services</a>
                    </li>
                <li class="header__nav-item">
                    <a href="#casses" class="item__link">Casses</a>
                    </li>
                <li class="header__nav-item">
                    <a href="#news" class="item__link">News</a>
                    </li>
                <li class="header__nav-item">
                    <a href="#careers" class="item__link">Careers</a>
                    </li>
                <li class="header__nav-item">
                    <a href="#contact" class="item__link">Contact</a>
                    </li>
            </ul>
        </nav>
        <div class="header__switch-lang">
            <button class="switch-lang__btn">UA</button>
            <span class="switch-lang__span">|</span>
            <button class="switch-lang__btn switch-lang__btn--current">EN</button>
        </div>
        <div class="hamb__field" id="hamb">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        </div>
    </div>

    
    
    <div class="mobile-menu" data-header-menu>
        <div class="mobile__container">
        </div>
    
        <nav class="mobile-nav">
            <ul class="mobile-nav__list">
                <li class="mobile-nav__item">
                    <a class="mobile-nav__link" data-menu href="#about">About</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="mobile-nav__link" data-menu href="#services">Services</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="mobile-nav__link" data-menu href="#casses">Casses</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="mobile-nav__link" data-menu href="#news">News</a>
                    
                </li>
                <li class="mobile-nav__item">
                    <a class="mobile-nav__link" data-menu href="#careers">Careers</a>
                
                </li>
                                <li class="mobile-nav__item">
                                    <a class="mobile-nav__link" data-menu href="#Contact"></a>
                                </li>

            </ul>
        </nav>
    </div>
</header>