<section class="section main-section animate container" id="#main">
  <div class="main__wrapper-img">
    <img class="main__img" src="./images/main-logo.png" alt="main-logo" width="210" height="92" />
  </div>
  <h1 class="main__title">A one-stop marketing hub</h1>
  <div class="main__txt-wrapper">
    <p class="main__txt">One agency for all marketing tasks of your business.<br />Check it out!</p>
    <div class="main__link-wrapper">
      <img
        src="./images/letter.svg"
        alt="letter"
        class="main__link-img animate"
        width="46"
        height="28"
      />
      <a class="main__link" href="mailto:test@email.com">Right here </a>
    </div>
  </div>
</section>
