<section class="section services__section" id="services">
  <div class="container">
    <h2 class="subtitle services__subtitle">Our services for your business</h2>
    <div class="swiper">
      <div class="swiper-wrapper ">
        <div class="swiper-slide">
          <div class="wrapp">
            <h3 class="swipper__subtitle">Marketing challenges</h3>
            <div class="img__wrapper">
              <img
                src="./images/color-stripe.jpg"
                alt="color-stripe"
                class="swipper__img"
                width="221"
                height="16"
              />
            </div>
            <div class="swipper__link-wrapper">
              <a href="" class="swipper__link">Read more</a>
              <div class="arrow"></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="wrapp">
            <h3 class="swipper__subtitle">Events and advertising campaigns</h3>
            <img
              src="./images/color-stripe.jpg"
              alt="color-stripe"
              class="swipper__img"
              width="221"
              height="16"
            />
            <div class="swipper__link-wrapper">
              <a href="" class="swipper__link">Read more</a>
              <div class="arrow"></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="wrapp">
            <h3 class="swipper__subtitle">Analytics Business & Marketing</h3>
            <img
              src="./images/color-stripe.jpg"
              alt="color-stripe"
              class="swipper__img"
              width="221"
              height="16"
            />
            <div class="swipper__link-wrapper">
              <a href="" class="swipper__link">Read more</a>
              <div class="arrow"></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="wrapp">
            <h3 class="swipper__subtitle">Creative & design</h3>
            <img
              src="./images/color-stripe.jpg"
              alt="color-stripe"
              class="swipper__img"
              width="221"
              height="16"
            />
            <div class="swipper__link-wrapper">
              <a href="" class="swipper__link">Read more</a>
              <div class="arrow"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
