
.services__subtitle {
  margin-bottom: 76px;
  @include mq(desktop) {
    padding-right: 900px;
  }
}

.swipper__subtitle {
  font-weight: 880;
  line-height: 1.21;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 20px;

  @include mq(desktop) {
    width: 245px;
    margin-bottom: 33px;
    font-size: 32px;
  }
}

.services__swipper-list {
  display: flex;
}

.services__swipper-item {
  border: 1px solid #b1b1b1;
  padding-top: 108px;
  padding-bottom: 111px;

  &:not(:last-child) {
    margin-right: 28px;
  }
}
.img__wrapper {
  width: 100%;
}
.swipper__img {
  width: 150px;
  margin-bottom: 33px;
  @include mq(desktop) {
    width: 221px;
  }
}

.swipper__link-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.swipper__link {
  font-weight: 449;
  line-height: 1.2;
  font-size: 10px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: $accent-color;
  @include mq(desktop) {
    font-size: 20px;
  }
}
.arrow {
  width: 11px;
  height: 11px;
  border-top: 1px solid $accent-color;
  border-right: 1px solid $accent-color;
  transform: rotate(45deg);
}

.swiper {
  width: 100%;
}
.swiper-wrapper {
  display: flex;
  padding-left: 45px;
  padding-right: 30px;
  @include mq(desktop) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid #b1b1b1;

  width: 250px;
  margin-right: 50px;
  height: 300px;
  transition: all 250ms $cubic;
  @include mq(desktop) {
    height: 450px;
    margin-right: 28px;
    width: calc(28.3333%);
  }

  &:hover {
    cursor: pointer;
    transform: scale(0.9);
  }
}
.myslide .swiper-slide {
  width: 250px;
}

.swiper-slide.swiper-slide-next {
  width: 347px;
}

.swiper-slide-active {
  width: 250px;
}

.swipper__subtitle {
  @include mq(notDesktop) {
    width: 150px;
  }
}

.wrapp {
  padding: 50px 15px 50px 8px;
  @include mq(desktop) {
    padding: 108px 33px 111px 17px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-size: 25px;
  --swiper-navigation-color: #b1b1b1;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  @include mq(desktop) {
    --swiper-navigation-size: 45px;
  }
}
